# Ignore environment files
.env

# Ignore SQLite database files
*.sqlite3
*.db

# Ignore media files
*/media

# Ignore Python cache files
__pycache__

# Ignore CSS source map files
*.css.map

# Ignore temporary files created by certain editors or IDEs
*tempCodeRunnerF